# Ansible and ansible-lint
ansible/roles/geerlingguy.docker
**/.ansible

!**/template_*
**/credentials*

# Configurations
# Ignore default config directory.
config/
config_*/

# Ignore terraform config
terraform/

#terraform import excludes
terraform_import/.terraform.lock.hcl
terraform_import/.terraform/
terraform_import/*.tfstate
terraform_import/terraform.tfvars

# Manifests
# Ignore manifests directory.
manifests/*.json

# MacOS
# Ignore desktop services files.
**/.DS_Store

# Certificates and Keys
# Ignore certificates files.
**/*.cer
**/*.crt
**/*.p7b

# Ignore public key files
**/*.pub

# Ignore packer plugin files
plugin.hwm
plugin.pwd
plugin.pwi

.gitmodules
