/*
    DESCRIPTION:
    NixOS 25.11 variables used by the Packer Plugin for Proxmox (proxmox-iso).
*/

// Guest Operating System Metadata
vm_os_language = "en_US"
vm_os_keyboard = "us"
vm_os_timezone = "UTC"
vm_os_family   = "linux"
vm_os_name     = "nixos"
vm_os_version  = "25.11"

// Virtual Machine Guest Operating System Setting
vm_os_type   = "l26"
vm_cloudinit = false

// Virtual Machine Hardware Settings
vm_bios                 = "ovmf"
vm_cpu_count            = 2
vm_cpu_sockets          = 1
vm_cpu_type             = "x86-64-v2-AES"
vm_mem_size             = 4096
vm_disk_type            = "virtio"
vm_disk_size            = "32G"
vm_disk_format          = "raw"
vm_disk_controller_type = "virtio-scsi-pci"
vm_network_card_model   = "virtio"
vm_id_number            = "10016"

// Removable Media Settings
iso_path     = "iso"
iso_file     = "nixos-minimal-25.11.9586.10e7ad5bbcb4-x86_64-linux.iso"
iso_checksum = "sha256:bb1fd0200cbf9070f67c7e6a476d962762626abbc0650b1b31c084fc4fc7656c"

// Boot Settings
vm_boot      = "order=virtio0;ide2;net0"
vm_boot_wait = "5s"

// EFI Settings
vm_firmware_path = "./OVMF.fd"
